.nav{
  background: #0000FF;
  padding: 2vh;
  padding-top: 2%;
  margin: 0;
  /* width: 100vw; */
  display: flex;
  align-items: center;
  flex-direction: row;
  position: fixed;
}
.smile{
  width:7vh;
  margin-left: 1em;
}
.linkclass {
  font-size: 1.3em;
  text-decoration: none;
  margin-left: 3vw;
  color: white;
  font-weight: 500;
}


a:hover{
  color: greenyellow;
}



//------HOME---------HOME-------------------HOME-------------------HOME----------------------HOME-----

.homeLoad{
  background: #0000FF;
  margin: auto;
  background-image: url(../src/assets/knifeOpen.svg);
  background-size: contain;
  background-position-y: 80%;
  background-repeat: no-repeat;
  //this you shall not change! vvv 
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  &:nth-last-child(1) {
    height: 100vh;
  }
} 

.homeAboutText{
  width: 80vw;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding-top: 10vh;
  color: white;
}

.homeAboutText h1{
  font-size: 2em;
}

.homeAboutText a{
  display: flex;
  justify-content: left;
  color: white;
}



//-------projects-------------projects-------------projects-------------projects-------------projects------




.project1{
  background-color: white;
  //this you shall not change! vvv 
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  &:nth-last-child(1) {
    height: 100vh;
  }
} 






//----------Cloud Kleyer --------------Cloud Kleyer --------------Cloud Kleyer --------------Cloud Kleyer ---------

.projectCard{
  background-color: #c6c6c6;
  background-image: url(../src/assets/workLinks/coverKleyer.png);
  background-position-y: 90%;
  background-position-x: right;
  background-size: 80vh;
  background-repeat: no-repeat;

}

.CardCloudK{
  width: 30vw;
  padding-top: 10vh;
  padding-left: 10vw;
  // margin: auto;
  height: 90vh;
}
.CardCloudK h1{
  font-size: 2em;
  font-weight: 800;
}





.container-fluid{
  padding-left: -15px;
  padding-right: -15px;
}



.about{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 900px;
}

.about h1{
  text-align: left;
  font-size: 3em;
  margin-top: -1%;
}

.about h2{
  justify-content: left;
  /* color: #0000FF; */
  font-size: 1.4em;
}

.me {
  width: 20%;
  margin-left: 70vw;
  max-width: 150px;
}

.Weblinks {
  display: flex;
  flex-direction: row;
}

.Weblinks img{
  width: 15vw;
  padding-right: 2vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  max-width: 50px;
}

.contact{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 900px;
  // background: url(./assets/contact.png);
}


.holine {
  display: flex;
  width: 35vh;
  max-width: 300px;
}

.contact h1{
  font-size: 4.5em;
}

.contact h3{
  /* display: flex;
  flex-direction: column; */
  margin-top: -2%;
}

.work{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between; 
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1300px;
}

.project {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 350px;
  max-width: 400px;
  /* margin: 5%; */
}

.project img {
  /* size: 20%;
  min-width: 300px;
  min-height: 300px; */
  max-width: 70%;
}