.nav {
  background: #0000FF;
  /* width: 100%; */
  padding: 1vh;
  display: flex;
  flex-direction: row;
}


.nav li{
  display: flex;
  text-align: end;
  padding-left: 100vh;
}

.homeCont {
  background: #0000FF;
}

.animate{
  size: 40px;
}