

h1{
  font-size: 10vw;
  /* font-weight: bold; */
}

.nav{
  background: #0000FF;
  padding: 2vh;
  padding-top: 2%;
  margin: 0;
  /* width: 100vw; */
  display: flex;
  align-items: center;
  flex-direction: row;
}
.smile{
  width:7vh;
  margin-left: 1em;
}
.linkclass {
  font-size: 1.3em;
  text-decoration: none;
  margin-left: 3vw;
  color: white;
  font-weight: 500;
}

// .main_h {
//   position: fixed;
//   // max-height: 70px;
//   z-index: 999;
//   width: 100%;
//   padding-top: 17px;
//   background: none;
//   overflow: hidden;
//   -webkit-transition: all 0.3s;
//   transition: all 0.3s;
//   opacity: 0;
//   top: -100px;
//   padding-bottom: 6px;
// }

// .open-nav {
//   max-height: 400px !important;
//   .mobile-toggle {
//     transform: rotate(-90deg);
//     -webkit-transform: rotate(-90deg);
//   }
// }

// .sticky {
//   background-color: #fff;
//   opacity: 1;
//   top: 0px;
//   border-bottom: 1px solid lighten($color, 30%);
// }






/* //HOME */

.homeAll {
  overflow-y: scroll;
	scroll-snap-type: y mandatory;
  max-height: 100vh; 
}

.homeLoad{
  background: #0000FF;
  display: flex;
  justify-content: center;
  //this you shall not change! vvv 
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  
  &:nth-last-child(1) {
    height: 100vh;
  }
} 

.homeAbout{
  background-color: white;
  //this you shall not change! vvv 
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  
  &:nth-last-child(1) {
    height: 100vh;
  }
} 

.homeProjects{
  background-color: #0000FF;
  scroll-snap-align: start;
  // height: 1000vh;
  width: 100%;
  position: sticky;
  top: 0;
  
  &:nth-last-child(1) {
    height: 100vh;
  }
} 







.knife {
  display: flex;
  width: 100vh;
}












.about{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 900px;
}

.about h1{
  text-align: left;
  font-size: 3em;
  margin-top: -1%;
}

.about h2{
  justify-content: left;
  /* color: #0000FF; */
  font-size: 1.4em;
}

.me {
  width: 20%;
  margin-left: 70vw;
  max-width: 150px;
}

.Weblinks {
  display: flex;
  flex-direction: row;
}

.Weblinks img{
  width: 15vw;
  padding-right: 2vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  max-width: 50px;
}

.contact{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 900px;
  
}

.holine {
  display: flex;
  width: 35vh;
  max-width: 300px;
}

.contact h1{
  font-size: 4.5em;
}

.contact h3{
  /* display: flex;
  flex-direction: column; */
  margin-top: -2%;
}

.work{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between; 
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1300px;
}

.project {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 350px;
  max-width: 400px;
  /* margin: 5%; */
}

.project img {
  /* size: 20%;
  min-width: 300px;
  min-height: 300px; */
  max-width: 70%;
}